@{
    Layout = "~/Views/Shared/_Site.Master.Layout.cshtml";
}
@section HeaderStylesheet {
    <link rel="Stylesheet" type="text/css" href="../../../Content/CSS/site.core.mini.css" />
    @RenderSection("HeaderStylesheet", false)
}
@section HeaderJavascript {
    @RenderSection("HeaderJavascript", false)
}
<div class="coreMiniContainer">
    <div class="coreMiniHeader">
        @RenderSection("InnerTitle")
    </div>
    <div class="coreMiniBox" id="miniBox">
        @RenderBody()
    </div>
</div>
@section InPageJavascript
{
    @RenderSection("InPageJavascript", false)
}
