@{
    ViewBag.Title = "Create New Account";
    Layout = "~/Views/Shared/Mini/_Site.Mini.Master.Layout.cshtml";
}
@section InnerTitle {
create new account
}
@{ if (ViewBag.HasPassthrough)
   {
    <div class="miniBoxInformationHighlight informationHighlightAdditional">
        You'll be directed to the download page after creating an account.
    </div>
   }
}
<form id="authCreate" name="authCreate" action="#" method="post">
<div class="miniBoxSection floatFix" id="emailSection">
    <div class="miniBoxMinorSection floatFix">
        <div class="miniLabel loginAuthBoxLabelOverride floatLeft" id="emailLabel">
            Email Address</div>
        <input type="text" class="miniInput floatRight" value="@ViewBag.SetEmail" name="Email" />
    </div>
    <div class="miniBoxMinorSection floatFix">
        <div class="miniLabel loginAuthBoxLabelOverride floatLeft" id="fNameLabel">
            First Name</div>
        <input type="text" class="miniInput floatRight" value="@ViewBag.SetFName" name="FName" />
    </div>
    <div class="miniBoxMinorSection floatFix">
        <div class="miniLabel loginAuthBoxLabelOverride floatLeft" id="lNameLabel">
            Last Name</div>
        <input type="text" class="miniInput floatRight" value="@ViewBag.SetLName" name="LName" />
    </div>
</div>
<div class="miniBoxSection floatFix" id="passwordSection">
    <div class="miniBoxMinorSection floatFix">
        <div class="miniLabel loginAuthBoxLabelOverride floatLeft" id="passwordLabel">
            Password</div>
        <input type="password" class="miniInput floatRight" name="Password" />
    </div>
    <div class="miniBoxMinorSection floatFix">
        <div class="miniLabel loginAuthBoxLabelOverride floatLeft" id="confirmLabel">
            Retype Password</div>
        <input type="password" class="miniInput floatRight" name="ConfirmPassword" />
    </div>
</div>
<div class="miniBoxInformationHighlight informationHighlightError" style="display: none; opacity: 0.0;"
    id="validateFail">
</div>
<div class="coreMiniBoxUserAction floatFix">
    <input type="submit" class="coreButtonAccept miniButton" value="create" />
    <div id="loginCreateLead" class="floatRight">
        <a href="@Url.Action("Login", (RouteValueDictionary)ViewBag.PassthroughRoute)">already
            have an account?</a>
    </div>
</div>
<input type="hidden" name="passthrough" value="@ViewBag.Passthrough" />
</form>
@section InPageJavascript
{
$("#authCreate").submit(function() { 

var serialized = $(this).serialize();

$.ajax({ 
    type: "POST",
    url: "@Url.Action("AccountCreation")",
    data: serialized,
    statusCode: {

    201: function() {
    window.location.assign("@Url.Action("Login", (RouteValueDictionary)ViewBag.PassthroughRoute)");
    },
    400: function(data) {
    var div = "#validateFail"
    var reply = $.parseJSON(data.responseText)
    $(div).html(reply.FailureReason);
    $(div).slideDown(500);
    $(div).animate({ opacity: 1.0 }, 500);

    }

    }
    })
return false;

});
}
