<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="Stylesheet" type="text/css" href="../../Content/CSS/site.core.css" />
    @RenderSection("HeaderStylesheet", false)
    <script type="text/javascript" src="../../Scripts/jquery-1.6.3.js"></script>
    @RenderSection("HeaderJavascript", false)
    @RenderSection("AdditionalHeaderContent", false)
</head>
<body>
    @RenderBody()
</body>
<script type="text/javascript" runat="server">
@RenderSection("InPageJavascript", false)
</script>
</html>
