@model UFiles.Web.Models.BaseAuthenticatedModel
@{
    ViewBag.Title = "Send a File";
    Layout = "~/Views/Shared/Full/_Site.Sectioned.Master.Layout.cshtml";
}
@section PageHeader {
    <div class="coreHeaderUserContainer floatRight">
        logged in as <span class="coreExternalHighlight">@Model.getUser().Email</span> |
        <a href="#">logout</a></div>
}
@section PageSidebar{
    <div class="sideBarHeading">
        @Model.getUser().FName @Model.getUser().LName</div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab">
            <a href="@Url.Action("Overview", "Home")">home</a></div>
        <div class="sidebarTab coreExternalHighlight">
            <a href="@Url.Action("SendFile", "Transmittal")">send a file</div>
    </div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab" id="tabMyGroup">
            <a href="@Url.Action("MyGroups", "Group")">my groups</a></div>
    </div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab" id="tabMyFiles">
            <a href="@Url.Action("FilesByMe", "Transmittal")">my files</a></div>
        <div class="sidebarTab" id="tabOtherFiles">
            <a href="@Url.Action("FilesToMe", "Transmittal")">files sent to me</a></div>
    </div>
    <div class="sidebarTabGroup">
        <div class="sidebarTab" id="tabSettings">
            <a href="@Url.Action("Settings", "Account")">settings</a></div>
    </div>
}
<div class="coreSectionHeader floatRight">
    attach file
</div>
<div class="coreSectionContainer floatRight" id="personalSettings">
    <div class="coreContent">
        <div class="uploadSectionMajor floatLeft floatFix">
            <form name="fileUpload">
            <input type="submit" class="uploadSendButton coreButtonAccept floatRight" value="attach" />
            <input type="file" class="uploadUploadButton floatRight" />
            </form>
        </div>
    </div>
</div>
<form id="transmittalDetails" name="settingsProfile" action="#" method="post">
<input type="hidden" id="sendTo" name="sendTo" value="email" />
<div class="coreSectionHeader floatRight">
    send to
</div>
<div class="coreSectionContainer floatRight" id="recipientOptions">
    <div class="coreSectionTabGroup floatFix" id="senderTabGroup">
        <a href="#">
            <div class="coreTabSelected coreSectionTab floatLeft" onclick="swapTab('email', true);"
                id="emailTab" style="width: 50%">
                Email Address</div>
        </a><a href="#">
            <div class="coreSectionTab floatLeft" id="groupTab" onclick="swapTab('group', true);"
                style="width: 50%">
                Group</div>
        </a>
    </div>
    <div class="coreContent">
        <div class="boxSection floatFix" id="emailSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="emailLabel">
                    Email Address</div>
                <input type="text" class="boxInput floatRight" onblur="hasInput(this, 'email');" name="Email" />
            </div>
        </div>
        <div class="boxSection floatFix" style="display: none;" id="groupSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="emailLabel">
                    Group</div>
                <input type="text" class="boxInput floatRight" onblur="hasInput(this, 'group');"
                    name="Group" />
            </div>
        </div>
        <div class="boxInformationHighlight informationHighlightError" style="display: none;
            opacity: 0.0;" id="recipientValidateFail">
        </div>
    </div>
</div>
<div class="coreSectionHeader floatRight">
    restrictions
</div>
<div class="coreSectionContainer floatRight" id="restrictionOptions">
    <div class="coreSectionTabGroup floatFix" id="restrictionTabGroup">
        <a href="#">
            <div class="coreTabSelected coreSectionTab floatLeft" onclick="swapTab('userRestriction', false);"
                id="userRestrictionTab" style="width: 20%">
                User</div>
        </a><a href="#">
            <div class="coreSectionTab floatLeft" onclick="swapTab('groupRestriction', false);"
                id="groupRestrictionTab" style="width: 20%">
                Group</div>
        </a><a href="#">
            <div class="coreSectionTab floatLeft" onclick="swapTab('locationRestriction', false);"
                id="locationRestrictionTab" style="width: 20%">
                Location</div>
        </a><a href="#">
            <div class="coreSectionTab floatLeft" onclick="swapTab('ipRestriction', false);"
                id="ipRestrictionTab" style="width: 20%">
                IP</div>
            <a href="#">
                <div class="coreSectionTab floatLeft" onclick="swapTab('timeRestriction', false);"
                    id="timeRestrictionTab" style="width: 20%">
                    Time Range</div>
            </a>
    </div>
    <div class="coreContent">
        <div class="boxSection floatFix" id="userRestrictionSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="userRestrictionLabel">
                    User</div>
                <input type="text" class="boxInput floatRight" name="UserRestriction" />
            </div>
        </div>
        <div class="boxSection floatFix" style="display: none;" id="groupRestrictionSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="GroupRestrictionLabel">
                    Group</div>
                <input type="text" class="boxInput floatRight" name="LocationRestriction" />
            </div>
        </div>
        <div class="boxSection floatFix" style="display: none;" id="locationRestrictionSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="LocationRestrictionLabel">
                    Location</div>
                <input type="text" class="boxInput floatRight" name="LocationRestriction" />
            </div>
        </div>
        <div class="boxSection floatFix" style="display: none;" id="ipRestrictionSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="ipRestrictionLabel">
                    IP Address</div>
                <input type="text" class="boxInput floatRight" name="LocationRestriction" />
            </div>
        </div>
        <div class="boxSection floatFix" style="display: none;" id="timeRestrictionSection">
            <div class="boxMinorSection floatFix">
                <div class="boxLabel loginAuthBoxLabelOverride floatLeft" id="timeRestrictionLabel">
                    Time Range</div>
                <input type="text" class="boxInput floatRight" name="TimeRestriction" />
            </div>
        </div>
        <div class="boxInformationHighlight informationHighlightError" style="display: none;
            opacity: 0.0;" id="restrictionValidateFail">
        </div>
    </div>
</div>
</form>
@section inPageJavascript {
var currentRecipientTab = "email"; var currentRestrictionTab = "userRestriction";
function hasInput(input, tab) { if($(input).val() != "") { $('#' + tab + 'Tab').css("font-weight",
"bold"); } else { $('#' + tab + 'Tab').css("font-weight", "normal"); } } function
swapTab(toTab, isRecipientTab) { if(isRecipientTab) { $('#sendTo').val(toTab); $('#'
+ currentRecipientTab + 'Tab').removeClass("coreTabSelected"); $('#' + currentRecipientTab
+ 'Section').css("display", "none"); currentRecipientTab = toTab; } else { $('#'
+ currentRestrictionTab + 'Tab').removeClass("coreTabSelected"); $('#' + currentRestrictionTab
+ 'Section').css("display", "none"); currentRestrictionTab = toTab; } $('#' + toTab
+ 'Tab').addClass("coreTabSelected"); $('#' + toTab + 'Section').css("display",
"block"); };
}
